<!-- Generate Cards for Each Record -->

<div class="row">
  <div class="col text-left">
    <h2>Your deleted items.</h2>
    <br>
  </div>
</div>

<!--Only show this if no records exist for the user's account-->

<table class="table table">
  <thead class="thead-purple">
    <th class="text-center" style="width: 50px"></th>
    <th style="width: 150px">From</th>
    <th style="width: 200px">Date Recieved</th>
    <th>Message</th>
    <th class="text-center">Delete</th>
  </thead>

  {{# each entries}}
    <tr>
      <td class="text-center">
        <div class="btn text-purple">
          <i class="fas fa-ellipsis-v"></i>
        </div>
      </td>
      <td>{{this.sentfrom}}</td>
      <td>{{this.timestamp}}</td>
      <td>{{this.messagecontent}}</td>
      <td class="text-center">
        <form action="/usercontent/entries/deletepermanently/process" method="post">
            <input readonly style="display: none" type="text" id="ID" name="ID" value="{{this.ID}}">
            <button class="btn text-purple" type="submit"><i class="far fa-trash-alt fa-lg"></i></button>
        </form>
      </td>
    </tr>

  {{else}}
    <div>Your trash is currently empty.</div>
    <br>

  {{/each}}

</table>

<br>